body {
  background: #fafdfe;
  height: 100vh;
  width: 100vw;
  min-width: 1024px;
  overflow-y: hidden;
  margin: 0;
  font-family: 'Roboto';
  color: #777;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}
